@model Contact
<div class="pageName">Contact Page</div>
<form asp-action="Contact">
    <div asp-validation-summary="All"></div>

    <div class="formItem">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        @*<span asp-validation-for="Email"></span>*@
    </div>

    <div class="formItem">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>

    <div class="formItem">
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
    </div>
    
    <div>
        <input type="submit" value="Register" />
    </div>
    


</form>